**Import Packages**

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Import data**

In [25]:
visa_df=pd.read_csv(r"C:\Users\abhis\OneDrive\Documents\Narash it\data files folders\Visadataset - Visadataset.csv")
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

- len
- max
- min
- mean
- median
- std
- 75%
- 50%
- 25%

**count or len**

In [10]:
len(visa_df.prevailing_wage)

25480

In [11]:
max(visa_df.prevailing_wage)

319210.27

In [6]:
min(visa_df.prevailing_wage)

2.1367

In [11]:
np.min(visa_df.prevailing_wage)

2.1367

In [ ]:
mean

In [8]:
(visa_df.prevailing_wage).mean()

74455.81459209183

In [9]:
np.mean(visa_df.prevailing_wage)

74455.81459209183

In [ ]:
media

In [13]:
(visa_df.prevailing_wage).median()

70308.20999999999

In [14]:
visa_df.prevailing_wage.std()

52815.94232687357

In [15]:
np.std(visa_df.prevailing_wage)

52814.90589711402

In [28]:

wage_count= round(len(visa_df.prevailing_wage),2)
wage_max= max(visa_df.prevailing_wage)
wage_min= min(visa_df.prevailing_wage)
wage_mean= (visa_df.prevailing_wage).mean()
wage_median= (visa_df.prevailing_wage).median()
wage_std= visa_df.prevailing_wage.std()
list_values=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
index_valus=['count','max','min','mean','median','std']
pd.DataFrame(list_values,columns=['prevailing_wage'],index=index_valus)

        prevailing_wage
count      25480.000000
max       319210.270000
min            2.136700
mean       74455.814592
median     70308.210000
std        52815.942327

** Percentile and Quantile**
- percentile:
    - np.percentile()
    - it will take two arguments
                - data :a
                - percentile:q the value varies from 0 to 100
                - if u want 50p data q=50
- quantile:
    - np.quantile()
    - it will take two arguments
                - data :a
                - quantile:q the value varies from 0 to 1
                - if u want 50p data q=0.5

In [ ]:
25p- 50p- 75p

In [38]:
wage_25p=round(np.percentile((visa_df.prevailing_wage),25),2)
wage_50p=round(np.percentile((visa_df.prevailing_wage),50),2)
wage_75p=round(np.percentile((visa_df.prevailing_wage),75),2)

print('the 25% data is:{}'.format(wage_25p))
print('the 50% data is:{}'.format(wage_50p))
print('the 75% data is:{}'.format(wage_75p))

the 25% data is:34015.48
the 50% data is:70308.21
the 75% data is:107735.51

In [44]:
wage_25p=round(np.quantile(visa_df.prevailing_wage,0.25),2)
wage_50p=round(np.quantile(visa_df.prevailing_wage,0.5),2)
wage_75p=round(np.quantile(visa_df.prevailing_wage,0.75),2)

print('the 25% data is:{}'.format(wage_25p))
print('the 50% data is:{}'.format(wage_50p))
print('the 75% data is:{}'.format(wage_75p))

the 25% data is:34015.48
the 50% data is:70308.21
the 75% data is:107735.51

In [53]:
con= visa_df.prevailing_wage
con

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [48]:
con= visa_df.prevailing_wage<34015
con

0         True
1        False
2        False
3        False
4        False
         ...
25475    False
25476    False
25477    False
25478    False
25479    False
Name: prevailing_wage, Length: 25480, dtype: bool

In [49]:
len(visa_df[con])

6370

In [54]:
con= visa_df.prevailing_wage<wage_25p
len(visa_df[con])

6370

In [55]:
con= visa_df.prevailing_wage<wage_50p
len(visa_df[con])

12740

In [56]:
con= visa_df.prevailing_wage<wage_75p
len(visa_df[con])

19110

**emprical rule**
<img id="dimg_395" src="" class="YQ4gaf" height="159" style="object-position:0% 25%" width="318" alt="Empirical Rule (68-95-99.7) Explained ..." data-csiid="24" data-atf="1">

- first calculate mean value
- second calculate std value
- con1: mean-1*std
- con2: mean+1*std
- if you apply above conditions on wage data,the output count 
  should be 
- 68% of total employes: 17326

In [60]:
v1=wage_mean-1*wage_std
v2=wage_mean+1*wage_std
v1,v2
con1=visa_df.prevailing_wage >v1
con2=visa_df.prevailing_wage <v2
visa_df[con1 & con2]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.65,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.86,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.14,Year,Y,Certified
6,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.39,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.56,Year,Y,Certified
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.78,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.57,Year,Y,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.77,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.91,Year,Y,Certified

In [62]:
count1=len(visa_df[con1 & con2])
count1

17171

In [65]:
v3=wage_mean-2*wage_std
v4=wage_mean+2*wage_std
v3,v4
con3=visa_df.prevailing_wage >v3
con4=visa_df.prevailing_wage <v4
visa_df[con3 & con4]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.7800,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [64]:
count2=len(visa_df[con3 & con4])
count2

24582

In [66]:
v5=wage_mean-3*wage_std
v6=wage_mean+3*wage_std
v5,v6
con5=visa_df.prevailing_wage >v5
con6=visa_df.prevailing_wage <v6
visa_df[con5 & con6]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.7800,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [67]:
count3=len(visa_df[con5 & con6])
count3

25186

In [71]:
68*25168/100

17114.24

In [72]:
25480-17114.24

8365.759999999998